.navbar-brand {
    transform: translateX(-70%);
    left: 50%;
    position: absolute;
  }

.nav-item-media {
    padding-left: 50px;
}


.navbar {
    font-family: 'Lily Script One', cursive;
}
.lead {
    font-size: 20px !important;
}

.wavetop {
    background-image: url('./svg/wave1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
}
p {
    font-family: 'Oleo Script', cursive;
}

.lead {
    font-size: 20px !important;
}

h1, h2 {
    font-family: 'Oleo Script', cursive;
}

footer {
    padding-top: 60px;
    background-image: url('svg/wave11.svg');
    background-color: rgba(111, 78, 55, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    font-family: 'Oleo Script', cursive;
    font-size: 27px;
}

.form-check-label {
    font-size: 15px;
}

/* Parallax */
#jumbo {
    opacity: 0;
    transform: translate(0.40px);
    transition: 1s;
}

#jumbo.nyala{
    opacity: 1;
    transform: translate(0,0);
}

label {
    opacity: 0;
    transform: translate(-40px,0);
    transition: 1s;
}

label.nyala {
    opacity: 1;
    transform: translate(0,0);
}

input {
    opacity: 0;
    transform: translate(40px,0);
    transition: 1s;
}

input.nyala {
    opacity: 1;
    transform: translate(0,0);
}

.pButton {
    opacity: 0;
    transform: translate(-40px,0);
    transition: 1s;
}

.pButton.nyala {
    opacity: 1;
    transform: translate(0,0);
}
/* end */