/* Jumbotron */
.jumbotron {
    background-image: url(/assets/gif/twicebg.gif) ;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron h1,p {
    font-family: 'VT323', monospace;
}

.jumbotron .nes-container {
    background-color: white;
}
/* end Jumbotron */

/* about us */
.bagian2 {
    background-image: url(/assets/gif/aboutus.gif) ;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bagian2 h1 {
    font-size: 80px;
    font-family: 'VT323', monospace;
}

#boxme {
    padding: 20px;
    background: #eaeaea;
    max-width: 500px;
    margin: 50px auto;
    transition: 3s;
    max-height: 0;
    overflow: hidden;
}

#boxme.buka {
    max-height: 500px;
}

.isiabout {
    padding-top: 20%;
}


/* end About us */

/* member */
.bagian3 {
    background-image: url(/assets/gif/member.gif) ;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    height: 100vh;
}

.bagian3 .nes-container {
    background-color: white;
}

.bagian3::-webkit-scrollbar {
    display: none;
}
/* end Member */