/* Jumbotron */
.jumbotron {
    background-image: url("../gif/twicebg.gif") ;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.jumbotron::before {
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    top: 0;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron h1,p {
    font-family: 'VT323', monospace;
}

.judul {
    font-size: 70px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
}

.lead {
    font-size: 70px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
}

.jumbotron .nes-container {
    background-color: white;
}
/* end Jumbotron */

/* about us */
.bagian2 {
    background-image: url("../gif/aboutus.gif") ;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bagian2 h1 {
    font-size: 80px;
    font-family: 'VT323', monospace;
}

#boxme {
    padding: 20px;
    background: #eaeaea;
    max-width: 500px;
    margin: 50px auto;
    transition: 3s;
    max-height: 0;
    overflow: hidden;
}

#boxme.buka {
    max-height: 500px;
}

.isiabout {
    padding-top: 20%;
}


/* end About us */

/* member */
.bagian3 {
    background-image: url(../gif/member.gif) ;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    height: 100vh;
}

.bagian3 .nes-container {
    background-color: white;
}

.bagian3::-webkit-scrollbar {
    display: none;
}
/* end Member */